<h3>Current News:</h3>
<ul>
  <li class="text" *ngFor="let item of news | async">
    {{item.title}}
    {{item.text}}
    {{item.author}}
  </li>
</ul>

<form class="ui large form segment">
  <h3 class="ui header">Add news item:</h3>

  <div class="field" [class.error]="wrongTitle">
    <label for="title">Title</label>
    <input type="text" name="title" #titleInput>
  </div>
  <div class="field" [class.error]="wrongText">
    <label for="text">Title</label>
    <textarea name="text" #textInput></textarea>
  </div>

  <button (click)="addNews(titleInput, textInput)" class="ui positive button">
    Add item
  </button>
</form>
